.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
li {
  border-bottom: 2px solid #64748b;
}

.name-details {
  display: flex;
  align-items: center;
}

.initial {
  height: 40px;
  width: 40px;
  padding: 10px;
  padding-left: 15px;
  border-radius: 40px;
  margin-right: 20px;
}

.name {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.time {
  color: #94a3b8;
  font-size: 13px;
}

.comment {
  color: #64748b;
  margin-left: 60px;
  margin-top: 0;
}

img {
  width: 20px;
}

button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 0;
}

button p {
  color: #7e858e;
  margin-left: 10px;
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-btn {
  display: flex;
  align-items: center;
}

.liked {
  color: #0ea5e9;
}
